.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    background-color: #333;
    padding: 10px 20px;
  }
  
  .nav h2 {
    color: #fff;
    margin: 0;
    padding: 10px;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    /* transition: background-color 0.3s ease; */
    display: inline-flex;
    align-items: end;
  }
  .nav a button {
    background-color: #333;
  }

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw
}
  
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}
  
.container button {
    background-color: #0275d8;
    color: white;
    font-weight: bold;
    /* position: fixed; */
    bottom: 16px;
    right: 24px;
    transition: all 0.1s linear 0.1s;
}
  
.container button:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
    transform: scale(1.1);
}

.handler {
    align-self: center;
    display: inline-flex;
}

.handler button {
    margin: 15px 5px;
}